@import "tailwindcss";
@import "tw-animate-css";

/* Your Theme Colors */
:root {
  --primary: black;
  --secondary: #ffff00;
  --tertiary: #87ceeb;
}

/* FIX: Allow the lanyard to swing across both divs */
body {
  background-color: var(--primary);
  color: white;
  overflow: visible !important;
}
@keyframes fadeBlurUp {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
