@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: black;
  --secondary: oklch(0.97 0 0);
  --tertiary: skyblue;

}


@layer base {
 
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
