@import "tailwindcss";
@import "tw-animate-css";

/* Your Theme Colors */
:root {
  --primary: black;
  --secondary: #ffff00;
  --tertiary: #87ceeb;
}

/* FIX: Allow the lanyard to swing across both divs */
body {
  background-color: var(--primary);
  color: white;
  overflow: visible !important;
}
